# Shared Docker network
MICROSERVICES_NETWORK=microservices-net

# Kafka
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_BOOTSTRAP_SERVERS=kafka-1:29092,kafka-2:29092,kafka-3:29092
FILE_CONVERSION_INPUT_TOPIC=file-conversion-input
FILE_CONVERSION_OUTPUT_TOPIC=file-conversion-output
FILE_CONVERSION_INPUT_DLT_TOPIC=file-conversion-input-dlt
FILE_CONVERSION_DLT_SUFFIX=-dlt

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=files
MINIO_URL=http://minio:9000

# Flow Manager outbox
APP_OUTBOX_PUBLISH_INTERVAL_MS=1000
APP_OUTBOX_BATCH_SIZE=20
APP_OUTBOX_MAX_PUBLISH_ATTEMPTS=10

# File Conversion inbox
APP_INBOX_POLL_INTERVAL_MS=1000
APP_INBOX_BATCH_SIZE=20
APP_INBOX_MAX_PROCESSING_ATTEMPTS=10
APP_INBOX_RETRY_DELAY_MS=1000
APP_INBOX_PROCESSING_TIMEOUT_MS=300000

# File Conversion
APP_CONVERSION_DELETE_SOURCE=false
APP_CONVERSION_RESULT_PREFIX=converted

# Docker images
EUREKA_SERVER_IMAGE=ghcr.io/tevsvet/eureka-server:latest
FLOW_MANAGER_IMAGE=ghcr.io/tevsvet/flow-manager:latest
FILE_CONVERSION_IMAGE=ghcr.io/tevsvet/file-conversion-service:latest
API_GATEWAY_IMAGE=ghcr.io/tevsvet/api-gateway:latest

# Eureka
EUREKA_HOST=eureka-server
EUREKA_PORT=8761
EUREKA_DEFAULT_ZONE=http://eureka-server:8761/eureka/

# Flow Manager
FLOW_MANAGER_POSTGRES_DB=flow_manager
FLOW_MANAGER_POSTGRES_USER=postgres
FLOW_MANAGER_POSTGRES_PASSWORD=postgres
FLOW_MANAGER_POSTGRES_PORT=5432

# File Conversion Service
FILE_CONVERSION_POSTGRES_DB=file_conversion
FILE_CONVERSION_POSTGRES_USER=postgres
FILE_CONVERSION_POSTGRES_PASSWORD=postgres
FILE_CONVERSION_POSTGRES_PORT=5433

# Api Gateway
API_GATEWAY_PORT=8765